.statistics {
  margin: 2em 0;
}

.label,
.amount {
  font-weight: 400;
}

.label {
  font-size: 1.2em;
}

.amount {
  font-size: 2.5em;
}

.statsBox {
  /*background: green;*/
  color: #fff;
  text-align: center;
  margin: 1.5em 0;
}

.statsBox h2 {
  margin: .4em 0;
}

#current-eth-usd {
  justify-content: center;
}

#current-eth-usd h1 {
  font-size: 4.5em;
  font-weight: 700;
  color: #379e47;
}

@media screen and (min-width: 730px) {
  .mediaQuery {
    display: flex;
    justify-content: space-around;
  }
}
