.statistics {
  /*background: red;*/
}

.label {
  font-size: 1.2em;
}

.amount {
  font-size: 2em;
}

.statsBox {
  /*background: green;*/
  color: #fff;
  text-align: center;
  margin: 1.5em 0;
}

#current-eth-usd {
  /*background: pink;*/
  /*display: flex;*/
  justify-content: center;
}

#current-eth-usd p {
  /*background: red;*/
  /*display: flex;
  align-items: center;*/
}

#current-eth-usd h1 {
  font-size: 4em;
  color: #379e47;
}
