* {
  box-sizing: border-radius;
}

body,
html {
  padding: 0;
  background-color: #01020f;
  font-family: 'Lato', sans-serif;
}

.container {
  /*background: red;*/
  width: 90%;
  margin: 0 auto;
}
