.nav {
  border-top: 0.5px solid #19e5ad;
  border-bottom: 0.5px solid #19e5ad;
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  justify-content: space-around;
  /*background: red;*/
  width: 13.5625em; /* 217px / 16em */
  margin: 0 auto;
}

button {
  background-color: transparent;
  padding: .5em;
  display: inline-block;
  color: #fff;
  border: none;
}

button:hover {
  color: #19e5ad;
}

button:active {
  outline: none;
}
