.navMenu {
  border-top: 0.5px solid #19e5ad;
  border-bottom: 0.5px solid #19e5ad;
  display: flex;
  justify-content: center;
}

#ethereum {
  color: #fff;
  margin-top: .5em;
  margin-bottom: .5em;
}

ul {
  display: flex;
  justify-content: space-around;
  /*background: red;*/
  width: 13.5625em; /* 217px / 16em */
  margin: 0 auto;
}

button {
  background-color: transparent;
  padding: .5em;
  display: inline-block;
  color: #fff;
  border: none;
  transition: all .5s;
}

button:hover {
  background: #19e5ad;
  color: #fff !important;
}

button:active {
  outline: none;
}
